a {
  text-decoration: none;
}

.postlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 18px;
  margin-top: 32px;

  /* margin-top: 32px; */

  @media only screen and (min-width: 641px) {
    align-items: flex-start !important;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.articlelink {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 641px) {
    width: 350px;
  }
  @media only screen and (min-width: 961px) {
    width: 450px;
  }
}

.cardbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 641px) {
    width: 350px;
  }

  @media only screen and (min-width: 961px) {
    width: 450px;
  }
}
